---
import BasePage from "@layouts/BasePage.astro"
import PostPreview from "@components/PostPreview.astro"
import "../../styles/global.css";
export async function getStaticPaths({ paginate }) {
    const allPosts = await Astro.glob("../../posts/*.md")
    const sortedPosts = allPosts.sort(
        (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
    )

    return paginate(sortedPosts)
}

const { page } = Astro.props

const title = "Blog"
const description = "Some blog that I wrote intoxicated"
---


<BasePage primaryBgColor="bg-olive-400" secondaryBgColor="bg-lavender-700">
    <div class="max-w-lg">
        <h1 class="my-8 text-5xl text-lavender-500">{title}</h1>
        <h2 class="my-2 text-2xl text-lavender-500">
            {description}
        </h2>
        <p class="text-xs italic text-end text-lavender-700">haha just kidding</p>
    </div>
        
    {page.data.map((post) => 
        <PostPreview post={post} style="bg-lavender-300"/>
    )}

    <small class="text-lavender-100"> {page.start + 1} - {page.end + 1} of {page.total} </small>
</BasePage>