---
import BasePage from "../../layouts/BasePage.astro"
import PostPreview from "../../components/PostPreview.astro"

export async function getStaticPaths({ paginate, rss }) {
    const allPosts = await Astro.glob("./*.md")
    const sortedPosts = allPosts.sort(
        (a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
    )

    return paginate(sortedPosts, { pageSize: 4 })
}

// Page
const title = "Blog"
const description = "Some blog that I wrote intoxicated"
const { page } = Astro.props
---


<BasePage>
    <div class="max-w-lg">
    <h1 class="my-8 text-5xl text-violet-900">{title}</h1>
    <h2 class="my-2 text-2xl text-violet-700">
        {description}
    </h2>
    <p class="text-xs italic text-end">haha just kidding</p>
</div>

    <small> {page.start + 1} - {page.end + 1} of {page.total} </small>

    {page.data.map((post) => <PostPreview post={post} />)}

</BasePage>