---
import "../styles/global.css"
import PostPreviewList from "@components/PostPreviewList.astro";
import BasePage from "../layouts/BasePage.astro";
import type { Post } from "@components/PostPreview.astro";

let allPosts = await Astro.glob<Post>("../posts/*.md");

allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
);

const recentPosts = allPosts.slice(0, 3);
---

<BasePage>
  <article class="max-w-md p-8 mx-auto my-12 bg-violet-200">
    <h1 class="text-4xl">Hello.</h1>
    <h2 class="mt-8 text-2xl">
      Welcome to this violet-coloured, text-filled, rectangular shape.
    </h2>
  </article>
  <h2>Recent posts</h2>
  <PostPreviewList posts={recentPosts} />
</BasePage>
