---
// Welcome to Astro! Everything between these triple-dash code fences

import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";

// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
---

<html>
  <BaseHead />
  <body>
    <Navbar />
    <article class="max-w-md p-8 mx-auto my-12 bg-violet-200">
      <h1 class="text-4xl">Hello...</h1>
      <h2 class="text-2xl">What is this</h2>
    </article>
  </body>
</html>
