---
import "../styles/global.css"
import PostPreviewList from "@components/PostPreviewList.astro";
import BasePage from "../layouts/BasePage.astro";
import type { Post } from "@components/PostPreview.astro";

let allPosts = await Astro.glob<Post>("../posts/*.md");

allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
);

const recentPosts = allPosts.slice(0, 1);
---

<BasePage>
  <article class="max-w-md p-8 mx-auto my-12 rounded-md bg-olive-100">
    <h1 class="text-4xl italic text-orange-500">Hello.</h1>
    <h2 class="mt-8 text-2xl">
      Welcome to this coloured, text-filled, rectangular shape.
    </h2>
  </article>
  <div class="max-w-md p-8 mx-auto rounded-md bg-olive-100 ">
      <h2 class="mt-8 text-2xl text-orange-500">Recent post</h2>
      <PostPreviewList posts={recentPosts} style="hover:bg-olive-200 bg-olive-100 text-grey-900"/>
    </div>
</BasePage>
