---
import "../styles/global.css";

const { headTitle } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <title>{headTitle || "Cool Astro site"}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
