---
---

<nav>
  <ul class="flex flex-row justify-end p-2 ">
    <li class="mx-2 hover:scale-125 hover:text-violet-900 hover:underline hover:underline-offset-8"><a class="p-2 font-sans text-xl" href="/">Home</a></li>
    <li class="mx-2 hover:scale-125 hover:text-violet-900 hover:underline hover:underline-offset-8"><a class="p-2 font-sans text-xl" href="/posts">Posts</a></li>
  </ul>
</nav>
