---
---

<nav>
  <ul class="flex flex-row justify-end p-2 ">
    <li class="mx-2 hover:scale-125"><a class="p-2" href="/">Home</a></li>
    <li class="mx-2 hover:scale-125"><a class="p-2" href="/posts">Posts</a></li>
  </ul>
</nav>
