---
export interface Props {
  url: {
    prev: string;
    next: string;
  };
}

const { page } = Astro.props;
---

<div class="my-12">
  <nav class="flex justify-between max-w-2xl">
    <a
      class="hover:text-lavender-800 hover:underline hover:underline-offset-8"
      href={page.url.prev || "#"}
      aria-label="Previous page"
      >Previous
    </a>
    <a
      class="hover:text-lavender-800 hover:underline hover:underline-offset-8"
      href={page.url.next || "#"}
      aria-label="Next page">Next</a
    >
  </nav>
</div>
