---
import { MarkdownInstance } from "astro";
import PostPreview from "./PostPreview.astro";

export type Post = {
    author: string,
    date: string,
    title: string,
    description: string,
}

export interface Props {
    posts: MarkdownInstance<Post>[],
    style?: string;

}

const { posts, style } = Astro.props as Props
---

<section>
    {posts.map(post => <PostPreview post={post} style={style} />)}
</section>