---
import Navbar from "@components/Navbar.astro";
import BaseHead from "@components/BaseHead.astro";

export interface Props {
  primaryBgColor?: string,
  secondaryBgColor?: string,
  }
const { primaryBgColor, secondaryBgColor } = Astro.props as Props
---

<html>
  <BaseHead />
  <body class={`max-w-4xl mx-auto  ${primaryBgColor || 'bg-olive-800'}`}>
    <Navbar />
    <div class={`max-w-4xl mx-auto my-12 p-14 rounded-xl ${secondaryBgColor || 'bg-olive-500'}`}>
      <slot />
    </div>
  </body>
</html>
