---
import Navbar from "@components/Navbar.astro";
import BaseHead from "@components/BaseHead.astro";
---

<html>
  <BaseHead />
  <body class="max-w-4xl mx-auto bg-violet-100">
    <Navbar />
    <div class="max-w-4xl p-8 mx-auto my-12 bg-violet-100">
      <slot />
    </div>
  </body>
</html>
