---
import Navbar from "@components/Navbar.astro";
import BaseHead from "@components/BaseHead.astro";
---

<html>
  <BaseHead />
  <body class="bg-violet-100">
    <div class="max-w-2xl mx-auto">
      <Navbar />
      <slot />
    </div>
  </body>
</html>
