---
import Navbar from "../components/Navbar.astro";
import BaseHead from "../components/BaseHead.astro";
---

<html>
  <BaseHead />
  <body>
    <Navbar />
    <article>
      <slot />
    </article>
  </body>
</html>
